<div id="banner_container">
  <img src="{{ 'Frame.png' | asset_url }}" alt="Banner" height="full" width="full">
<div class = "sec_container">
  <div class="txt_container">
    <h2>The Gift Guide</h2>
    <p>
    Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season.
    </p>
    <button> 
    Shop Now  <svg width="30" height="20" viewBox="0 0 64 27" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.80273 11.8199L0.0372066 11.8199L0.0372062 15.351L1.80273 15.351L1.80273 13.5854L1.80273 11.8199ZM63.0962 14.8339C63.7856 14.1444 63.7856 13.0265 63.0962 12.337L51.8604 1.10128C51.1709 0.411803 50.0531 0.411803 49.3636 1.10128C48.6741 1.79077 48.6741 2.90864 49.3636 3.59812L59.3509 13.5855L49.3636 23.5728C48.6741 24.2623 48.6741 25.3801 49.3636 26.0696C50.0531 26.7591 51.1709 26.7591 51.8604 26.0696L63.0962 14.8339ZM1.80273 13.5854L1.80273 15.351L61.8477 15.351L61.8477 13.5855L61.8477 11.8199L1.80273 11.8199L1.80273 13.5854Z" fill="white"/>
    </svg>
   
   </button>
  </div> 
  <div class="img_container"> 
    <img src="{{ 'Frame (1).png' | asset_url }}" alt="Banner2" height="full" width="full">
  </div>
</div>  
</div>




{% stylesheet %}
 
.sec_container{
  display: flex;
  margin-left: 120px;
  align-items: center;
}
.img_container{
  width: 70%;
}
.img_container img{
  width: 100%;
}
.txt_container{
  width: 30%;
}
.txt_container h2{
  font-size: 70px;
  font-weight: 500;
}
.txt_container p{
  font-size: 20px;
  font-weight: 400;
  color: black;
}
.txt_container button{
  font-size: 20px;
  font-weight: 400;
  display: inline-flex;
  align-items: center; /* keeps text + icon vertically aligned */
  gap: 0.5rem;       
  color: white;
  background-color: black;
  border: none;
  padding: 15px 35px;
  transition: all 1s;
}
.txt_container button:hover{
 background-color: #FFF544;
 color: black
; 
}
.txt_container button:hover svg{
 color: black
; 
}


  @media (prefers-reduced-motion: no-preference) {
    marquee-component:not([data-disabled]) .marquee__wrapper {
      animation: marquee-motion var(--marquee-speed) linear infinite var(--marquee-direction);
    }
  }

  @keyframes marquee-motion {
    to {
      transform: translate3d(calc(-50% - (var(--marquee-gap) / 2)), 0, 0);
    }
  }
{% endstylesheet %}




{% schema %}
{
  "name": "t:names.page",
  "class": "section-wrapper",
  "blocks": [ 
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    },
    {
      "type": "_divider"
    }
  ],
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "select",
      "id": "content_direction",
      "label": "t:settings.direction",
      "options": [
        {
          "value": "column",
          "label": "t:options.vertical"
        }
      ],
      "default": "column",
      "visible_if": "{{ section.settings.gap < 0 }}"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:settings.gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ]
}
{% endschema %}
