{% comment %}  Header {% endcomment %}
 <header class="header_content"> 
  <div class="content"> 
   <div class="logo_title"> 
    TISSO VISSION
  </div>
  <div class="logo_desc">
    Find the ideal gift for your loved ones.
  </div>
  <div class="logo_btn">
    <button> 
      <span>CHOOSE GIFT </span>
      <div class="layer "></div>
      <svg width="30" height="20" viewBox="0 0 64 27" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.80273 11.8199L0.0372066 11.8199L0.0372062 15.351L1.80273 15.351L1.80273 13.5854L1.80273 11.8199ZM63.0962 14.8339C63.7856 14.1444 63.7856 13.0265 63.0962 12.337L51.8604 1.10128C51.1709 0.411803 50.0531 0.411803 49.3636 1.10128C48.6741 1.79077 48.6741 2.90864 49.3636 3.59812L59.3509 13.5855L49.3636 23.5728C48.6741 24.2623 48.6741 25.3801 49.3636 26.0696C50.0531 26.7591 51.1709 26.7591 51.8604 26.0696L63.0962 14.8339ZM1.80273 13.5854L1.80273 15.351L61.8477 15.351L61.8477 13.5855L61.8477 11.8199L1.80273 11.8199L1.80273 13.5854Z"/>
    </svg>
    </button>
  </div>
 </div>
 </header>



{% comment %} Banner container {% endcomment %}

<div id="banner_container">
  <img src="{{ 'Frame.png' | asset_url }}" alt="Banner" height="full" width="full">
 <div class = "sec_container">
  <div class="txt_container">
    <h2>The Gift Guide</h2>
    <p>
    Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season.
    </p>
    <button> 
      <div class="layer">
      </div>
   <span>SHPO NOW </span> 
   <svg width="30" height="20" viewBox="0 0 64 27" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.80273 11.8199L0.0372066 11.8199L0.0372062 15.351L1.80273 15.351L1.80273 13.5854L1.80273 11.8199ZM63.0962 14.8339C63.7856 14.1444 63.7856 13.0265 63.0962 12.337L51.8604 1.10128C51.1709 0.411803 50.0531 0.411803 49.3636 1.10128C48.6741 1.79077 48.6741 2.90864 49.3636 3.59812L59.3509 13.5855L49.3636 23.5728C48.6741 24.2623 48.6741 25.3801 49.3636 26.0696C50.0531 26.7591 51.1709 26.7591 51.8604 26.0696L63.0962 14.8339ZM1.80273 13.5854L1.80273 15.351L61.8477 15.351L61.8477 13.5855L61.8477 11.8199L1.80273 11.8199L1.80273 13.5854Z"/>
    </svg>
   
   </button>
  </div> 
  <div class="img_container"> 
    <img src="{{ 'Frame (1).png' | asset_url }}" alt="Banner2" height="full" width="full">
  </div>
 </div>  
</div>




{% stylesheet %}
/* HEADER STYLE */
header.header_content{
  background-color: #F5F5F5;
  margin:20px 0px;
  padding: 10px 0px;
}
.header_content .content{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin : auto
}
header .logo_title{
 width: 30%;
 font-size: 20px;
 font-weight: bolder;


}
header .logo_desc{
  width: 30%;
  color: black;

}
header .logo_btn {
  width: 30%;

}
header .logo_btn button {
 background-color: #FFF544;
 color: black;
} 

 /* BANNER STYLE */
 
.sec_container{
  display: flex;
  margin-left: 120px;
  align-items: center;
}
.img_container{
  width: 70%;
}
.img_container img{
  width: 100%;
}
.txt_container{
  width: 30%;
}
.txt_container h2{
  font-size: 70px;
  font-weight: 500;
}
.txt_container p{
  font-size: 20px;
  font-weight: 400;
  color: black;
  line-height: 40px2.6px ;
}
.txt_container button, header .logo_btn button {
  font-size: 20px;
  font-weight: 400;
  display: inline-flex;
  align-items: center; 
  gap: 0.5rem;       
  border: none;
  padding: 15px 35px;
  position: relative;
  overflow: hidden; 
  cursor: pointer;
}
.txt_container button{
  background-color: black;
  margin-top: 50px;
  color: white; 
}

.txt_container button svg path , header .logo_btn button svg path {
  fill: currentColor; 
}

.layer {
  position: absolute;
  top: 0;
  left: -100%; 
  width: 100%;
  height: 100%;
  transition: all 0.6s ease;
  z-index: 1;
}
.txt_container button {
  background-color: black;
}
.txt_container button span,
.txt_container button svg ,
header button span,
header button svg
{
  position: relative; 
  z-index: 2; 
  transition: color 0.6s ease;
}

.txt_container button:hover .layer {
  left: 0; 
}

.txt_container button:hover {
  color: black; 
}
.header button:hover {
  color: white; 
}


  @media (prefers-reduced-motion: no-preference) {
    marquee-component:not([data-disabled]) .marquee__wrapper {
      animation: marquee-motion var(--marquee-speed) linear infinite var(--marquee-direction);
    }
  }

  @keyframes marquee-motion {
    to {
      transform: translate3d(calc(-50% - (var(--marquee-gap) / 2)), 0, 0);
    }
  }
{% endstylesheet %}




{% schema %}
{
  "name": "Custom Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "banner_heading",
      "label": "Heading",
      "default": "Your Main Heading Here"
    },
    {
      "type": "text",
      "id": "banner_subheading",
      "label": "Sub Heading",
      "default": "Your Subheading Text"
    },
    {
      "type": "text",
      "id": "banner_button_text",
      "label": "Button Text",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "banner_button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Custom Banner"
    }
  ]
}
{% endschema %}
