<div id="banner_container">
  <img src="{{ 'Frame.png' | asset_url }}" alt="Banner" height="full" width="full">
  <div id = 'sec_container'>
<div>
  <div>
    <h2>The Gift Guide</h2>
    <p>
    Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season.
    </p>
    <button> 
    Shop Now
   </button>
  </div>
    <img src="{{ 'Frame (1).png' | asset_url }}" alt="Banner2" height="full" width="full">

  <div> 
  </div>
</div>


    
  </div>
</div>






